.register-container {
  background-color: white;
  border-radius: 10px;
  padding: 20px 150px;
  max-width: 600px;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  text-align: center;
}

.logo_link {
  display: inline-block;
  margin: 0 auto;
  width: fit-content;
}

.register_logo {
  height: 80px;
  margin: 0 auto;
}

.profile-image-upload {
  margin: 20px 0;
  padding: 0;
  border: 2px dashed #00FFA8;
  border-radius: 50%;
  cursor: pointer;
  text-align: center;
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: 20px auto;
}

.profile-preview {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.register-container form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.register-container input,
.register-container select {
  padding: 10px;
  border: none;
  border-bottom: 1px solid #868686;
  border-radius: 0;
  font-size: 16px;
  outline: none;
  width: calc(100% - 20px);
  box-sizing: border-box;
}

.register-container input:focus,
.register-container select:focus {
  border-bottom: 2px solid #00FFA8;
}

.register-container button {
  padding: 10px;
  background-color: #00ffaa5e;
  color: black;
  border: none;
  border-radius: 15px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.register-container button:hover {
  background-color: #00FFA8;
}

.email-container {
  display: flex;
  gap: 10px;
  align-items: center;
}

.email-container p {
  margin: 0;
  font-size: 16px;
}

.email-container input {
  flex: 2;
}

.email-container select {
  flex: 3;
}

.separator {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.separator-text {
  font-size: 14px;
  color: #868686;
}

input[type="button"] {
  padding: 10px;
  background-color: #00ffaa5e;
  color: black;
  border: none;
  border-radius: 15px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
}

input[type="button"]:hover {
  background-color: #00FFA8;
}
