.main-news-newsCardContainer {
    display: flex;
    align-items: center;
    gap: 10px;
}

.main-news-navButton {
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.main-news-newsCard {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-between;
    /* border: 1px solid black; */
    border-radius: 8px;
    overflow: hidden;
    width: 720px;
    height: 207px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-news-card-top{
    display: flex;
    flex-flow: row nowrap;
    border-bottom: 1px solid #c9c8c8;
}

.main-news-newsImage {
    width: 50%;
    height: 100px;
    object-fit: cover;
}

.main-news-newsContent {
    /* border: 5px solid yellow; */
    width: 50%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px 10px;
    background-color: #f8f8f8;
}

.main-news-newsTitle {
    padding: 0px 0px;
    font-size: 14px;
    margin: 0;
    overflow: hidden;
    /* text-overflow: ellipsis; */
    /* white-space: nowrap; */
}

.main-news-mainNewsBottom {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding: 0px 5px;
    padding-bottom: 5px;
}

.main-news-newsLink {
    text-decoration: none;
    color: #1e90ff;
    font-weight: bold;
}

.main-news-newsLink:visited {
    color: #1e90ff;
}

.main-news-newsLink:hover {
    color: #1e90ff;
}


.main-news-bottom{
    padding: 5px 5px;
    font-size: 14px;
    /* border: 1px solid red; */
}